body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
}
h1{
    background-color: skyblue;
    color: lightpink;
    text-align: center;
}
h2{
    color: palevioletred;
}
h3{
    color: plum;
}
p{
    font-size: 20px;
}